<div class="page-content-inner">

    <!-- Date Picker -->
    <section class="panel">
        <div class="panel-heading">
            <h3>
                Date Picker
                <sup>
                    <small><a href="http://eonasdan.github.io/bootstrap-datetimepicker/" target="_blank" class="link-underlined">Official Documentation</a></small>
                </sup>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Date Picker Only</h4>
                    <p>Modifier: see documentation</p>
                    <br />
                    <div class="margin-bottom-50">
                        <div class="form-group">
                            <label class="input-group datepicker-only-init">
                                <input type="text" class="form-control" placeholder="Select Date" />
                                <span class="input-group-addon">
                                    <i class="icmn-calendar"></i>
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control datepicker-only-init" placeholder="Select Date" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Time Picker Only</h4>
                    <p>Modifier: see documentation</p>
                    <br />
                    <div class="margin-bottom-50">
                        <div class="form-group">
                            <label class="input-group timepicker-init">
                                <input type="text" class="form-control" placeholder="Select Time" />
                                <span class="input-group-addon">
                                    <i class="icmn-clock"></i>
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control timepicker-init" placeholder="Select Time" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Date & Time Picker</h4>
                    <p>Modifier: see documentation</p>
                    <br />
                    <div class="margin-bottom-50">
                        <div class="form-group">
                            <input type="text" class="form-control datepicker-init" placeholder="Select Date" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Range Date Picker</h4>
                    <p>Modifier: see documentation, <code>.display-inline-block</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <input type="text" class="form-control datepicker-only-init width-200 display-inline-block margin-inline" placeholder="From" />
                        <span class="margin-right-10">—</span>
                        <input type="text" class="form-control datepicker-only-init width-200 display-inline-block margin-inline" placeholder="To" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Inline Date Picker</h4>
                    <p>Modifier: see documentation</p>
                    <br />
                    <div class="margin-bottom-50">
                        <div class="form-group">
                            <div class="datepicker-inline-init"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Inline Time Picker</h4>
                    <p>Modifier: see documentation</p>
                    <br />
                    <div class="margin-bottom-50">
                        <div class="form-group">
                            <div class="timepicker-inline-init"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Date Picker -->

</div>

<!-- Page Scripts -->
<script>
    $(function(){

        $('.datepicker-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('.datepicker-only-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LL'
        });

        $('.timepicker-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LT'
        });

        $('.datepicker-inline-init').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            inline: true,
            sideBySide: false
        });

        $('.timepicker-inline-init').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LT',
            inline: true,
            sideBySide: false
        });

    })
</script>
<!-- End Page Scripts -->