<div class="page-content-inner">

    <!-- Gallery -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <div class="heading-buttons pull-right">
                <a href="javascript: void(0);" class="btn btn-primary">
                    <i class="icmn-plus3"></i>
                    Add Picture
                </a>
            </div>
            <h3>Gallery</h3>
        </div>
        <div class="panel-body">
            <div class="app-gallery clearfix">
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/1.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/2.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/3.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/5.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/6.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/7.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/4.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/5.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/7.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/1.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/2.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/3.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/5.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(../assets/common/img/temp/photos/7.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/4.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/5.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(../assets/common/img/temp/photos/7.jpeg)"></div>
            </div>
        </div>
    </section>
    <!-- End Gallery -->

</div>