<div class="page-content-inner">

    <!-- Basic Tables -->
    <section class="panel">
        <div class="panel-heading">
            <h3>Basic Tables</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Default</h4>
                    <p>Element: <code>table.table</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Username</th>
                                <th width="200">Levels</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" />
                                </th>
                                <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #1">Mark</a></td>
                                <td>@mdo</td>
                                <td>
                                    <div class="steps-inline display-block">
                                        <a href="javascript: void(0);" class="step-block step-success">1</a>
                                        <a href="javascript: void(0);" class="step-block step-success">2</a>
                                        <a href="javascript: void(0);" class="step-block step-success">3</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" />
                                </th>
                                <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #2">Jacob</a></td>
                                <td>@fat</td>
                                <td>
                                    <div class="steps-inline display-block">
                                        <a href="javascript: void(0);" class="step-block step-success">1</a>
                                        <a href="javascript: void(0);" class="step-block step-success">2</a>
                                        <a href="javascript: void(0);" class="step-block">3</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" />
                                </th>
                                <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #3">Larry</a></td>
                                <td>@twitter</td>
                                <td>
                                    <div class="steps-inline display-block">
                                        <a href="javascript: void(0);" class="step-block step-primary">1</a>
                                        <a href="javascript: void(0);" class="step-block step-primary">2</a>
                                        <a href="javascript: void(0);" class="step-block">3</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Inverse</h4>
                    <p>Modofier: <code>.table-inverse</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table table-inverse">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Default Thead</h4>
                    <p>Modifier: <code>.thead-default</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table">
                            <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Username</th>
                                <th width="200">Progress</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>@mdo</td>
                                <td>
                                    <progress class="progress progress-success" value="82" max="100">25%</progress>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>@fat</td>
                                <td>
                                    <progress class="progress progress-success" value="75" max="100">25%</progress>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>@twitter</td>
                                <td>
                                    <progress class="progress progress-default" value="33" max="100">25%</progress>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Inverse Thead</h4>
                    <p>Modifier: <code>.thead-inverse</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Striped</h4>
                    <p>Modifier: <code>.table-striped</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th width="200">Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Mark
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    Otto
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @mdo
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Jacob
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    Thornton
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @fat
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Larry
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    the Bird
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @twitter
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Hover</h4>
                    <p>Modifier: <code>.table-hovered</code></p>
                    <br />
                    <div class="margin-bottom-50">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Mark
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    Otto
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @mdo
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Jacob
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    Thornton
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @fat
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Checked by:</span>
                                    <br />
                                    Larry
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Available:</span>
                                    <br />
                                    the Bird
                                </td>
                                <td>
                                    <span class="font-size-10 text-uppercase color-default">Last known:</span>
                                    <br />
                                    @twitter
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Responsive Table</h4>
                    <p>Element: <code>div.table-responsive</code></p>
                    <br />
                    <div class="table-responsive margin-bottom-50">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Damon</td>
                                    <td>5516 Adolfo Green</td>
                                    <td>Littelhaven</td>
                                    <td>85</td>
                                    <td>2014/06/13</td>
                                    <td>$553,536</td>
                                </tr>
                                <tr>
                                    <td>Torrey</td>
                                    <td>1995 Richie Neck</td>
                                    <td>West Sedrickstad</td>
                                    <td>77</td>
                                    <td>2014/09/12</td>
                                    <td>$243,577</td>
                                </tr>
                                <tr>
                                    <td>Elliott_Becker</td>
                                    <td>8417 Orion Parkway</td>
                                    <td>Streichside</td>
                                    <td>83</td>
                                    <td>2014/08/28</td>
                                    <td>$447,592</td>
                                </tr>
                                <tr>
                                    <td>Yasmine</td>
                                    <td>67284 Kreiger Freeway</td>
                                    <td>Stoltenbergside</td>
                                    <td>8</td>
                                    <td>2014/12/12</td>
                                    <td>$358,369</td>
                                </tr>
                                <tr>
                                    <td>Ada.Hoppe</td>
                                    <td>69842 Peyton Viaduct</td>
                                    <td>South Geovannyburgh</td>
                                    <td>89</td>
                                    <td>2013/05/13</td>
                                    <td>$211,76</td>
                                </tr>
                                <tr>
                                    <td>Sammie</td>
                                    <td>46406 Powlowski Common</td>
                                    <td>Cristmouth</td>
                                    <td>51</td>
                                    <td>2014/03/29</td>
                                    <td>$345,739</td>
                                </tr>
                                <tr>
                                    <td>Terrance.Borer</td>
                                    <td>1568 Richmond Bypass</td>
                                    <td>Schillerfort</td>
                                    <td>46</td>
                                    <td>2014/10/27</td>
                                    <td>$634,073</td>
                                </tr>
                                <tr>
                                    <td>August</td>
                                    <td>731 Stiedemann Crossing</td>
                                    <td>Rolfsonborough</td>
                                    <td>98</td>
                                    <td>2013/11/12</td>
                                    <td>$203,952</td>
                                </tr>
                                <tr>
                                    <td>Mckenna.Herman</td>
                                    <td>63204 Hegmann Keys</td>
                                    <td>New Isobelview</td>
                                    <td>2</td>
                                    <td>2013/08/12</td>
                                    <td>$702,091</td>
                                </tr>
                                <tr>
                                    <td>Gunnar</td>
                                    <td>92873 Barney Club</td>
                                    <td>Beierview</td>
                                    <td>82</td>
                                    <td>2014/03/29</td>
                                    <td>$569,778</td>
                                </tr>
                                <tr>
                                    <td>Jarvis.Simonis</td>
                                    <td>0778 Elvis Spurs</td>
                                    <td>Harrisfurt</td>
                                    <td>62</td>
                                    <td>2013/05/28</td>
                                    <td>$336,046</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Basic Tables  -->

</div>

<!-- Page Scripts -->
<script>

    $(function () {

        $("[data-toggle=tooltip]").tooltip();

    });

</script>
<!-- End Page Scripts -->