<div class="page-content-inner">

    <!-- Dashboard -->
    <div class="dashboard-container">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="widget widget-one">
                    <div class="widget-header height-300" style="background-image: url(../assets/common/img/temp/photos/5.jpeg)">
                        <h2 class="color-white">
                            Clean. Simple.<br />Responsive
                        </h2>
                    </div>
                    <div class="widget-body clearfix">
                        <div class="s1">
                            <a class="avatar" href="javascript:void(0);">
                                <img src="../assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image">
                            </a>
                            <br />
                            <strong>Artour Scott</strong>
                            <br />
                            @arteezy
                        </div>
                        <div class="s2">
                            <div class="widget-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <span class="label label-primary">html</span>
                            <span class="label label-primary">javascript</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12">
                <div class="widget widget-three">
                    <div class="example-calendar-block"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="widget">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center width-50">#</th>
                                        <th>First Name</th>
                                        <th>Username</th>
                                        <th>Balance</th>
                                        <th width="200">Levels</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            <input type="checkbox">
                                        </th>
                                        <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #1">Mark</a></td>
                                        <td>@mdo</td>
                                        <td>$1,564.00</td>
                                        <td>
                                            <div class="steps-inline display-block">
                                                <a href="javascript: void(0);" class="step-block step-success">1</a>
                                                <a href="javascript: void(0);" class="step-block step-success">2</a>
                                                <a href="javascript: void(0);" class="step-block step-success">3</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            <input type="checkbox">
                                        </th>
                                        <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #2">Jacob</a></td>
                                        <td>@fat</td>
                                        <td>$256.00</td>
                                        <td>
                                            <div class="steps-inline display-block">
                                                <a href="javascript: void(0);" class="step-block step-success">1</a>
                                                <a href="javascript: void(0);" class="step-block step-success">2</a>
                                                <a href="javascript: void(0);" class="step-block">3</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            <input type="checkbox">
                                        </th>
                                        <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #3">Larry</a></td>
                                        <td>@twitter</td>
                                        <td><span class="color-danger">Blocked</span></td>
                                        <td>
                                            <div class="steps-inline display-block">
                                                <a href="javascript: void(0);" class="step-block step-primary">1</a>
                                                <a href="javascript: void(0);" class="step-block step-primary">2</a>
                                                <a href="javascript: void(0);" class="step-block">3</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            <input type="checkbox">
                                        </th>
                                        <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #4">Lewis</a></td>
                                        <td>@jabber</td>
                                        <td>$1,002.64</td>
                                        <td>
                                            <div class="steps-inline display-block">
                                                <a href="javascript: void(0);" class="step-block step-warning">1</a>
                                                <a href="javascript: void(0);" class="step-block">2</a>
                                                <a href="javascript: void(0);" class="step-block">3</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            <input type="checkbox">
                                        </th>
                                        <td><a href="javascript: void(0);" class="link-underlined link-blue" data-toggle="tooltip" data-placement="right" title="" data-original-title="User #5">Joshua</a></td>
                                        <td>@fat</td>
                                        <td>$256.00</td>
                                        <td>
                                            <div class="steps-inline display-block">
                                                <a href="javascript: void(0);" class="step-block">1</a>
                                                <a href="javascript: void(0);" class="step-block">2</a>
                                                <a href="javascript: void(0);" class="step-block">3</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget widget-five">
                            <div class="widget-header">
                                <div class="dropdown pull-right">
                                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="dropdown-inline-button-icon icmn-cog"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">Remove All</a>
                                    </ul>
                                </div>
                                Table w/ Body Scroll: <strong>Users</strong>
                            </div>
                            <div class="widget-body">
                                <div class="custom-scroll" style="height: 155px">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center width-50">#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Balance</th>
                                            <th>Username</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="text-center">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>$1,564.00</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-center">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>$256.00</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-center">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td><span class="color-danger">Blocked</span></td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-center">4</th>
                                            <td>David</td>
                                            <td>Haxler</td>
                                            <td>$1,002.64</td>
                                            <td>@main</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-center">5</th>
                                            <td>Matt</td>
                                            <td>Loda</td>
                                            <td>$256.00</td>
                                            <td>@active</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="widget widget-two">
                            <div class="widget-header">
                                <div class="dropdown pull-right">
                                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="dropdown-inline-button-icon icmn-folder-open"></i>
                                        <span class="hidden-lg-down">Issues History</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                        <a class="dropdown-item" href="javascript:void(0)">Current search</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Search for issues</a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-header">Opened</div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-253 Project implemen...</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-234 Active history iss...</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-clock"></i> CLNUI-424 Ionicons intergrat...</a>
                                        <a class="dropdown-item" href="javascript:void(0)">More...</a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-header">Filters</div>
                                        <a class="dropdown-item" href="javascript:void(0)">My open issues</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Reported by me</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">Import issues from CSV</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                                    </ul>
                                </div>
                                <span class="text-truncate text-nowrap">Conversation: <strong>Software</strong></span>
                            </div>
                            <div class="widget-body clearfix">
                                <div class="conversation-block min-height-250 max-height-250 custom-scroll">
                                    <div class="conversation-item">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/3.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>David Scott</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/3.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>Chris Smith</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item you">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/4.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>Donald Trump</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/3.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>David Scott</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item you">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/4.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>Donald Trump</strong>
                                            <p>Ok. Thanks!</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item you">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/4.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>Donald Trump</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/3.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>David Scott</strong>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
                                    </div>
                                    <div class="conversation-item you">
                                        <div class="s1">
                                            <a class="avatar" href="javascript:void(0);">
                                                <img src="../assets/common/img/temp/avatars/4.jpg" alt="Alternative text to the image" />
                                            </a>
                                        </div>
                                        <div class="s2">
                                            <strong>Donald Trump</strong>
                                            <p>Ok. Thanks!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group padding-top-20 margin-bottom-0">
                                    <textarea id="textarea" class="form-control" placeholder="Type and press enter"></textarea>
                                    <button class="btn width-full margin-top-10">
                                        <i class="fa fa-send margin-right-5"></i>
                                        Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven background-secondary">
                            <div class="carousel-widget carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-books"></i> Todo
                                            </h2>
                                            <p>
                                                1. Upgrade
                                                <br />
                                                2. Finish
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-download"></i> Finish
                                            </h2>
                                            <p>
                                                1. Upgrade
                                                <br />
                                                2. Prepare
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-seven background-info" style="background-image: url(../assets/common/img/temp/photos/9.jpeg)">
                            <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>Clean</h2>
                                            <p>
                                                Simple
                                                <br />
                                                Responsive
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>Clean</h2>
                                            <p>
                                                Simple
                                                <br />
                                                Responsive
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven background-primary">
                            <div class="carousel-widget carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-accessibility"></i>
                                            </div>
                                            <a href="javascript: void(0);" class="widget-body-inner">
                                                <h2>Sales Growth</h2>
                                                <p>View Report</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-download"></i>
                                            </div>
                                            <a href="javascript: void(0);" class="widget-body-inner">
                                                <h2>All Reports</h2>
                                                <p>Pdf Download</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-seven">
                            <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-database"></i> Databases
                                            </h2>
                                            <p>
                                                Total: 765
                                                <br />
                                                New: 36
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-users"></i> Users
                                            </h2>
                                            <p>
                                                Total: 24 467
                                                <br />
                                                New: 456
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-12">
                <div class="widget widget-six">
                    <div class="widget-header">
                        <div class="dropdown pull-right">
                            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="dropdown-inline-button-icon icmn-cog"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Remove All</a>
                            </ul>
                        </div>
                        <strong>Sales Statistics</strong>
                    </div>
                    <div class="widget-body">
                        <div class="chart chartist-one" style="height: 240px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget-four background-transparent">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block">
                        <span class="step-digit">
                            <i class="icmn-users"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">Users</span>
                            <p>Total: 24 467</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block">
                        <span class="step-digit">
                            <i class="icmn-database"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">Databases</span>
                            <p>
                                Total: 765
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-danger">
                        <span class="step-digit">
                            <i class="icmn-stats-dots"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">Bandwidth</span>
                            <p>
                                <span>160.32 GB/S</span>
                                <span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-secondary">
                        <span class="step-digit">
                            <i class="icmn-stats-growth"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">Daily Sales</span>
                            <p>
                                Total: 765
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Dashboard -->

</div>


<!-- Page Scripts -->
<script>
    $(function() {

        ///////////////////////////////////////////////////////////
        // ADJUSTABLE TEXTAREA
        autosize($('#textarea'));

        ///////////////////////////////////////////////////////////
        // CUSTOM SCROLL
        if (!cleanUI.hasTouch) {
            $('.custom-scroll').each(function() {
                $(this).jScrollPane({
                    autoReinitialise: true,
                    autoReinitialiseDelay: 100
                });
                var api = $(this).data('jsp'),
                        throttleTimeout;
                $(window).bind('resize', function() {
                    if (!throttleTimeout) {
                        throttleTimeout = setTimeout(function() {
                            api.reinitialise();
                            throttleTimeout = null;
                        }, 50);
                    }
                });
            });
        }

        ///////////////////////////////////////////////////////////
        // CALENDAR
        $('.example-calendar-block').fullCalendar({
            //aspectRatio: 2,
            height: 403,
            header: {
                left: 'prev, next',
                center: 'title',
                right: 'month, agendaWeek, agendaDay'
            },
            buttonIcons: {
                prev: 'none fa fa-arrow-left',
                next: 'none fa fa-arrow-right',
                prevYear: 'none fa fa-arrow-left',
                nextYear: 'none fa fa-arrow-right'
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            viewRender: function(view, element) {
                if (!cleanUI.hasTouch) {
                    $('.fc-scroller').jScrollPane({
                        autoReinitialise: true,
                        autoReinitialiseDelay: 100
                    });
                }
            },
            defaultDate: '2016-05-12',
            events: [
                {
                    title: 'All Day Event',
                    start: '2016-05-01',
                    className: 'fc-event-success'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2016-05-09T16:00:00',
                    className: 'fc-event-default'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2016-05-16T16:00:00',
                    className: 'fc-event-success'
                },
                {
                    title: 'Conference',
                    start: '2016-05-11',
                    end: '2016-05-14',
                    className: 'fc-event-danger'
                }
            ],
            eventClick: function(calEvent, jsEvent, view) {
                if (!$(this).hasClass('event-clicked')) {
                    $('.fc-event').removeClass('event-clicked');
                    $(this).addClass('event-clicked');
                }
            }
        });

        ///////////////////////////////////////////////////////////
        // GRAPH
        var cssAnimationData = {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    series: [
                        [1, 2, 2.7, 0, 3, 5, 3, 4, 8, 10, 12, 7],
                        [0, 1.2, 2, 7, 2.5, 9, 5, 8, 9, 11, 14, 4],
                        [10, 9, 8, 6.5, 6.8, 6, 5.4, 5.3, 4.5, 4.4, 3, 2.8]
                    ]
                },
                cssAnimationResponsiveOptions = [
                    [{
                        axisX: {
                            labelInterpolationFnc: function(value, index) {
                                return index % 2 !== 0 ? !1 : value
                            }
                        }
                    }]
                ];

        new Chartist.Line(".chartist-one", cssAnimationData, {
                plugins: [
            Chartist.plugins.tooltip()
        ]}, cssAnimationResponsiveOptions);

        ///////////////////////////////////////////////////////////
        // CAROUSEL WIDGET
        $('.carousel-widget').carousel({
            interval: 4000
        });

        $('.carousel-widget-2').carousel({
            interval: 6000
        });

        ///////////////////////////////////////////////////////////
        // TOOLTIPS
        $("[data-toggle=tooltip]").tooltip();

    });
</script>
<!-- End Page Scripts -->