<div class="page-content-inner">

    <!-- Page 500 -->
    <div class="single-page-block">
        <div class="margin-auto text-center max-width-500">
            <h1>Error 500</h1>
            <p>Looks like something went wrong!</p>
            <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
            <a href="javascript: void(0);" class="btn btn-link">Go Back</a>
            <a href="javascript: void(0);" class="btn btn-link">Contact Us</a>
        </div>
    </div>
    <!-- End Page 500 -->

</div>